[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
django-bootstrap4 = "*"
drf-yasg = "*"
boto3 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.3"
